@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" href="/user/register">Register user</a>
    <a class="nav-link text-dark" href="/book/create">Create book</a>
    <a class="nav-link text-dark" href="/user/jwtbearer">Get jwt</a>
</div>

<script type="text/javascript">
    //function createBook() {
    //    fetch("/book/create", {
    //        method: 'post',
    //        headers: {
    //            'Accept': 'application/json',
    //            'Content-Type': 'application/json',
    //            'RequestVerificationToken': document.getElementById('RequestVerificationToken').value
    //        },
    //        body: '{"s": "abc"}'
    //    })
    //}
</script>
